
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step >
        <ng-template matStepLabel>Fill out your name</ng-template>
        <ng-content select="[welcome]"></ng-content>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Fill out your address">
      <ng-content select="[fill]"></ng-content>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>